* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* specify 1 rem = 10px */
  /* font-size: 10px; */
  /* However, set the font-size to a fixed number would cause a lot potential problems afterwards
  (e.g when users trying to set the font-size of their browser to a larger number)
     Instead, we should set it to percentage */

  /* Percentage of user's browser font-size setting */
  /* 10px/16px = 0.625 = 62.5% */
  font-size: 62.5%;

  overflow-x: hidden;

  /* Does not work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: Rubik, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* Hidden all the elements that overflow the viewport  */
  /* Hidden the mobile menu */

  /* Only works if there is nothing absolutely positioned in relation to body  */
  overflow-x: hidden;
}

/******************************/
/* GENERAL REUSABLE COMPONENTS */
/******************************/
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
  font-weight: 600;
  /* only necessary for .btn */
  border: none;

  /* Do simple animation,change from one color to another graduallly */
  /* 1. Change the value of a certain property or multiple properties 
  from one value to another one */
  /* 2. Put the transition on original state */
  /* transition: background-color 1s; */
  transition: all 1s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;
  /* trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  /* to vertically align an item 
  (default is stretch) to end */
  align-self: end;
  padding: 1.2rem;
  transition: all 0.3s;
}

.btn--form:hover {
  background-color: #fff;
  color: #45260a;
}

/* style the focus */
*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 126, 34, 0.25);
}

/* give form input another color outline */
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.507);
}

/* create a reusable container(centered) */
.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* create a reusable grid */
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  /* grid-template-columns: repeat(2, 1fr); */

  /* having multiple grid and automatically set the margin */
  /* margin-bottom: 9.6rem; */
}

/* having multiple grid in a section and automatically set the margin */
/* .grid:last-child {
  margin-bottom: 0;
} */

/* only add margin if it is not the last child inside of its parent container */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid-centered-vertically {
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 1.2rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* create a helper class so it wont create conflict when we reuse the element itself*/
/* e.g. we dont want the margin-right property when reuse an element */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.center-text {
  text-align: center;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: 1.6rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-tertiary {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
  margin-bottom: 3.2rem;
}

strong {
  font-weight: 500;
}

.hidden-section {
  transition: transform 1s, opacity 1s;
  transform: translateY(9.6rem);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
