/* 
-- 01 TYPOGRAPHY SYSTEM

- FONT SIZE (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHT 
Default: 400

- LINE HEIGHT 
Default: 1 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 02 COLOR SYSTEM
primary: #e67e22

-Tints:
-Shades:
-Accents:
-Grays:
#555

-- 03 SHADOWS

-- 04 BORDER RADIUS

-- 05 WHITE SPACE

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* specify 1 rem = 10px */
  /* font-size: 10px; */
  /* However, set the font-size to a fixed number would cause a lot potential problems afterwards
  (e.g when users trying to set the font-size of their browser to a larger number)
     Instead, we should set it to percentage */

  /* Percentage of user's browser font-size setting */
  /* 10px/16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 1200rem;
  margin: 0 auto;
}

.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  width: 50rem;
}
